body * {
  color: orange;
}

#input input, #clear, #add {
  color: black;
}

#clear, #add {
  background-color: orange;
}

.delete {
  position: relative;
  right: -2em;
}

.done {
  text-decoration: line-through;
}